<!DOCTYPE html>
<html lang="kr">
<head>
  <title>가보자IT 이용약관</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    body {
      margin: 50px;
    }
  </style>
</head>
<body>
  <center>
    <h1>가보자IT 이용약관 <sub>(VER 1.0)</sub></h1>
    <img src="https://gabojait-bucket.s3.ap-northeast-2.amazonaws.com/admin/gabojait-logo.png" alt="gabojait-logo"
       width="300" height="170">
  </center>
  <br>
  <p><b>가보자IT 서비스 이용약관의 목차는 아래와 같습니다.</b></p><br>
  <ol>
    <li><b>이용약관의 목적</b></li>
    <li><b>서비스 제공</b></li>
    <li><b>서비스의 변경 및 종료</b></li>
    <li><b>회원의 의무</b></li>
    <li><b>회원의 저작물과 권리</b></li>
    <li><b>개인정보의 보호</b></li>
    <li><b>약관의 효력 및 변경</b></li>
  </ol>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>1. 이용약관의 목적</h4><br>
  <p>
    가보자IT(이하 “회사”)는 본 이용약관은 회사 서비스를 이용하는 사용자에게 적용되는 약관을 마련하였습니다.<br>
    본 약관은 사용자들이 회사의 서비스를 이용하는데 필요한 권리, 의무, 책임사항, 이용조건 및 절차 등 기본적인 사항을 규정하고 있으므로 주의 깊게 읽어주시기
    바랍니다.<br>
  </p>
  <br>
  <hr width="90%" align="center" color="grey">
  <br>
  <h4>2. 서비스 제공</h4>
  <ol>
    <li>여러분의 게시물이 정보통신망 이용촉진 및 정보보호 등의 과한 법률 및 저작권법 등 관련 법령에 위반되는 내용을 포함하는 경우, 권리자는 회사에 관련 법령이
      정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련 법령에 따라 조치를 취합니다.</li>
    <li>회사는 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사의 정책 및 관련 법령에 위반되는 경우에는 관련 법령에 따라 해당
      게시물에 대해 임시조치 등을 취할 수 있습니다.</li>
    <li>위와 관련된 세부 절차는 정보통신망법 및 저작권법이 규정한 범위 내에서 회사가 정한 권리침해 신고 절차에 따릅니다.</li>
  </ol>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>3. 서비스의 변경 및 종료</h4>
  <p>회사는 서비스를 365일, 24시간 쉬지 않고 제공하기 위하여 최선의 노력을 다합니다. 다만, 아래 각 호의 경우 통합서비스의 전부 또는 일부를 제한하거나 중지할
    수 있습니다.</p>
  <ul>
    <li>설비의 유지 또는 보수 등을 위한 정기 또는 임시 점검의 경우</li>
    <li>정전 제반 설비의 장애 또는 이용량의 폭주 등으로 서비스 이용에 지장이 있는 경우</li>
    <li>관계사와의 계약 종료, 정부의 명령/규제, 서비스/회원 정책 변경 등 회사의 제반 사정으로 서비스의 전부 또는 일부를 유지할 수 없는 경우</li>
    <li>기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우</li>
  </ul>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>4. 회원의 의무</h4>
  <p>서비스를 이용하는 모든 사용자는 다음 행위가 금지됩니다.</p>
  <ul>
    <li>거짓 정보를 제공하거나 불법 행위를 저지르거나 오해의 소지가 있거나 사기성이 있거나 다른사람의 권리를 침해(허락 없이 다른 사람의 콘텐츠를 사용하는 경우
      포함)하는 행위</li>
    <li>스팸, 괴롭힘, 나체 이미지 게시 등의 행위</li>
    <li>가짜 계정을 만들거나 액세스 권한이 없는 정보를 수집하거나 계정을 구매, 판매 또는 양도하거나 다른 사람의 계정에 로그인하는 행위</li>
    <li>사용자 이름 또는 닉네임에 도메인 또는 URL을 사용하는 행위</li>
    <li>악성 코드를 전송하는 등의 사이트 운영 방식을 방해하는 행위</li>
  </ul>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>5. 회원의 저작물과 권리</h4>
  <p>여러분 콘텐츠의 소유자는 여러분입니다. 다만 여러분이 팀을 생성하거나 팀에 합류한 경우 이메일, 성별, 아이디, 닉네임 등을 제외한 정보는 추후에 타인들에 팀에
    대한 정보를 조회하기 위해 콘텐츠의 사용 권리는 회사에 부여합니다.</p>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>6. 개인정보의 보호</h4>
  <p>여러분의 개인정보의 안전한 처리는 회사에게 있어 가장 중요한 일 중 하나입니다. 여러분의 개인정보는 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위
    내에서만 이용됩니다. 법령에 의하거나 여러분이 별도로 동의하지 아니하는 개인정보를 제3자에게 제공하는 일은 결코 없으므로 안심하셔도 좋습니다. 회사가 여러분의
    개인정보를 안전하게 처리하기 위하여 기울이는 노력이나 기타 자세한 사항은 가보자IT 개인정보처리방침을 참고하여 주십시오.</p>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <h4>7. 약관의 효력 및 변경</h4>
  <p>본 이용약관 내용의 추가, 삭제 및 수정이 있을 경우 모바일 앱내 '설정'에 있는 '이용약관'을 통해 공지하고 가입시 제공한 이메일을 통해 알려드릴 수도 있습니다.
    본 약관에 동의한 여러분 모두에게 그 효력이 발생합니다. 회사가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정약관 시행일 7일 후까지
    거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 여러분의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 여러분의
    거부의사를 위해서는 계정 삭제를 이용해주시기 바랍니다.</p>
  <ul>
    <li>공고일자: 2023년 06월 15일</li>
    <li>시행일자: 2023년 07월 15일</li>
  </ul>
  <br>
  <hr size="3" width="90%" align="center" color="grey">
  <br>
  <center>
    <footer>
      <p>&copy; 2023 GABOJAIT. All rights reserved.</p>
    </footer>
  </center>
  </body>
</html>